/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */

.game {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    cursor: url(../assets/imgs/stick125.png), auto;
}

.hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
}

.hole:after {
    display: block;
    background: url('../assets/imgs/dirt.svg') bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
}

.mole {
    background: url('../assets/imgs/mole.svg') bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}

.hole.up .mole {
    top: 0;
}

.options {
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.gameInfo {
    display: flex;
    margin: 2rem;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.scorecard {
    @include card(60%, rgba(0, 255, 255, 0.475));
}

.levelcard {
    @include card(15%, rgba(137, 43, 226, 0.475));
    text-align: center;
    height: 5rem;
}

.timecard {
    @include card(25%, rgba(226, 43, 43, 0.475));
    text-align: center;
    height: 5rem;
}