/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
.score {
  background: rgba(255, 255, 255, 0);
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: url(../assets/imgs/stick125.png), auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url("../assets/imgs/dirt.svg") bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url("../assets/imgs/mole.svg") bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
}

.options {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.scorecard {
  border-style: groove;
  background-color: rgba(0, 255, 255, 0.494);
  width: 60%;
  padding: 1rem;
}

.gameInfo {
  display: flex;
  margin: 2rem;
  gap: 1rem;
  justify-content: space-between;
}

.levelcard {
  border-style: groove;
  width: 15%;
  background-color: rgba(137, 43, 226, 0.475);
  text-align: center;
  height: 5rem;
}

.timecard {
  border-style: groove;
  width: 25%;
  background-color: rgba(226, 43, 43, 0.475);
  text-align: center;
  height: 5rem;
}

html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

label {
  font-size: 2rem;
  font-family: "Amatic SC", cursive;
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin: 2rem 5rem;
  background: #ffc600;
  font-family: "Amatic SC", cursive;
}

button {
  padding: 2rem;
  font-size: x-large;
  background-color: firebrick;
}

input {
  width: 20rem;
  height: 3rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}