.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}
.grid-item {
    padding: 20px;
    
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #FFFFFF;
}