/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */

%character-card-text-properties{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #FFF;
}

.grid-container{
    display: flex;
    gap: 20px;
}

.grid-item{
    position: relative;
    display: flex; 
    justify-content: center;

    width: 219px;
    height: 279px;
}

.text-item{
    @extend %character-card-text-properties;
    position: absolute;
    top: 211px;
    z-index: 15;
}

.filter-item{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    
    background: linear-gradient(179deg, rgba(255, 255, 255, 0) 50%, #000000 97%);
    mix-blend-mode: multiply;
    border-radius: 19px;
    z-index: 10;
}

.image-item{
    position: absolute;
}