/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */

.characters-section{
    @include flex-column-centered (32px);
    justify-content: space-between;
}

.characters-container{
    display: flex;
    width: 104%;
    height: 231px;
    position: relative;
    left: 2.2%;
}

.characters-item {
    display: flex;
    position: relative;

    width: 182px;
    height: 231px;
}

.text-item{
    @include text-properties ('Roboto',500,18px,21px,white,-0.02em);

    position: absolute;
    text-align: center;
    width: 100%;
    top: 175px;

    z-index: 14;
}

.filter-item{
    position: absolute;
    @include fit-parent;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #000000 97%);
    mix-blend-mode: multiply;
    border-radius: 19px;
    z-index: 10;
}

@media only screen and (min-width: 768px) {
    /* For tablet: */
    .characters-container{
        height: 184px;
    }

    .characters-item {
        width: 145px;
        height: 184px;
    }
}

@media only screen and (min-width: 1280px) {
    /* For desktop: */
    .characters-container{
        height: 280px;
    }

    .characters-item {
        width: 220px;
        height: 279px;
    }

    .text-item{
        top: 211px;
    }
}