/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */

.characters-section{
    @include flex-column-centered (32px);
    justify-content: space-between;
}

.characters-container{
    display: flex;
    overflow: auto;

    width: 100%;
    height: 231px;
}

.characters-item {
    display: flex;
    position: relative;

    width: 182px;
    height: 231px;
}

.text-item{
    @include text-properties ('Roboto',500,18px,21px,white,-0.02em);

    position: absolute;
    text-align: center;
    width: 181px;
    height: 32px;
    top: 175px;

    z-index: 14;
}

.filter-item{
    position: absolute;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #000000 97%);
    mix-blend-mode: multiply;
    border-radius: 19px;
    z-index: 10;
}





