/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */

 .islands-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
}

.islands-container{
    display: flex;
    position: relative;
    width: 100%;
    height: 193px;
}

.island-item{
    display: flex;
    position: relative;
    justify-content: center;

    width: 194px;
    height: 193px;
}

.island-caption-container{
    position: absolute;
    width: 178px;
    height: 48px;

    top: 137px;

    background: rgba(0, 96, 150, 0.59);
    backdrop-filter: blur(4px);
    border-radius: 6px;
}

.island-caption-title{
    @include text-properties ('Roboto',700,13px,16px,white);
}

.island-caption-location{
    @include text-properties ('Roboto',400,14px,16px,#F4F4F4,0.4px);
}

.island-text{
    position: absolute;
    align-self: center;
    top: 5px;
    left: 13px;
}

.material-icons.location-icon { 
    color: rgba(255, 255, 255, 1);
    font-size: small;
}

@media only screen and (min-width: 768px) {
    /* For tablet: */
    .islands-container{
        @include items-container (193px);
    }

    .text-item{
        @include text-properties ('Roboto Slab',700,16px,20px,white,0.01px);
        top: 140px;
    }

    .island-item {
        display: flex;
        position: relative;
    
        width: 33%;
    }
}