/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */

.islands-section{
    @include flex-column-centered (32px);
    justify-content: space-between;
}

.islands-container{
    display: flex;
    overflow: auto;

    width: 100%;
    height: 193px;
}

.island-item{
    display: flex;
    position: relative;

    height: 100%;
    width: 100%;
    object-fit: cover;
}

.island-caption-container{
    position: absolute;
    width: 178px;
    height: 48px;
    left: 8px;
    top: 137px;

    background: rgba(0, 96, 150, 0.59);
    backdrop-filter: blur(4px);
    border-radius: 6px;
}

.island-caption-title{
    @include text-properties ('Roboto',700,13px,16px,white);
}

.island-caption-location{
    @include text-properties ('Roboto',400,14px,16px,#F4F4F4,0.4px);
}

.island-text{
    position: absolute;
    align-self: center;
    top: 5px;
    left: 13px;
}