/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */

.mist-object-section{
    @include flex-column-centered (32px);
}

.mist-object-container{
    @include items-container (428px);
    flex-wrap: wrap;
    gap: 16px;
}

.mist-object-item{
    display: flex;
    position: relative;

    width: 358px;
    height: 132px;

    overflow: auto;
}

.mist-object-img{
    width: 174px;
    height: 132px;
}

.material-icons.location-icon { 
    color: rgba(255, 255, 255, 1);
    font-size: small;
}

.mist-object-text{
    position: absolute;
    display: flex;
    flex-direction: column;

    left: 117.33px;

    width: 240px;
    height: 132px;

    background: rgba(0, 96, 150, 0.59);
    backdrop-filter: blur(4px);
    border-radius: 0px 6px 6px 0px;
}

.mist-object-caption-title{
    @include text-properties ('Roboto',700,13px,16px,white);
    margin: 5px;
}

.mist-object-caption-description{
    @include text-properties ('Roboto',400,14px,16px,#F4F4F4);
    margin: 5px;
}

@media only screen and (min-width: 768px) {
    /* For tablet: */
    .mist-object-container{
        height: 370px;
        gap: 20px;
    }
    .mist-object-item{
        width: 310px;
        height: 175px;
        overflow: visible;
    }
    .mist-object-img{
        width: 181px;
        height: 175px;
        object-fit: cover;
        border-radius: 8px;
    }
    .mist-object-text{
        width: 200px;
        height: 175px;
        left: 110px;
    }
    .mist-object-caption-title{
        @include text-properties ('Roboto Slab',700,16px,20px,white,0.1px);
        margin: 7px;
    }
    .mist-object-caption-description{
        @include text-properties ('Roboto',400,14px,16px,#F4F4F4,0.4px);
        margin: 7px;
    }
}