/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */

.mist-object-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
}

.mist-object-container{
    @include items-container (428px);
    flex-wrap: wrap;
    gap: 16px;
    padding: 0 16px 0;
    box-sizing: border-box;
}

.mist-object-item{
    display: flex;
    position: relative;

    width: 358px;
    height: 132px;

    overflow: auto;
}

.mist-object-img{
    width: 175px;
    height: 132px;
    border-radius: 8px;
}

.mist-object-text{
    position: absolute;
    display: flex;
    flex-direction: column;

    left: 117px;

    width: 241px;
    height: 132px;

    background: rgba(0, 96, 150, 0.59);
    backdrop-filter: blur(4px);
    border-radius: 0px 6px 6px 0px;
}

.mist-object-caption-title{
    @include text-properties ('Roboto',700,13px,16px,white);
    margin: 5px;
}

.mist-object-caption-description{
    @include text-properties ('Roboto',400,14px,16px,#F4F4F4);
    margin: 5px;
}

@media only screen and (min-width: 768px) {
    /* For tablet: */
    .mist-object-container{
        padding: 0;
        height: 370px;
    }

    .mist-object-item{
        width: 310px;
        height: 175px;
    }

    .mist-object-img{
        width: 181px;
        height: 175px;

        object-fit: cover;
    }

    .mist-object-text{
        left: 110px;
        width: 200px;
        height: 175px;
    }
}

@media only screen and (min-width: 1280px) {
    /* For desktop: */
    .mist-object-container{
        height: 100%;
    }

    .mist-object-item{
        width: 461px;
        height: 254px;
    }

    .mist-object-img{
        width: 263px;
        height: 254px;

        object-fit: cover;
    }

    .mist-object-text{
        left: 164px;
        width: 297px;
        height: 254px;
    }

    .mist-object-caption-title{
        @include text-properties ('Roboto Slab',700,18px,24px,white,0.1px);
        margin: 5px;
    }
    
    .mist-object-caption-description{
        @include text-properties ('Roboto',400,18px,24px,#F4F4F4,0.15px);
        margin: 5px;
    }
}