/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */

.mist-object-section{
    @include flex-column-centered (32px);
    justify-content: space-between;
    height: 484px;
}

.mist-object-container{
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 428px;
    gap: 16px;
    overflow: hidden;
}

.mist-object-item{
    display: flex;

    width: 358px;
    height: 132px;
    position: relative;
    overflow: auto;
}

.mist-object-img{
    width: 174.49px;
    height: 132px;
}

.material-icons.location-icon { 
    color: rgba(255, 255, 255, 1);
    font-size: small;
}

.mist-object-text{
    position: absolute;
    display: flex;
    flex-direction: column;

    left: 117.33px;

    width: 240.67px;
    height: 132px;

    background: rgba(0, 96, 150, 0.59);
    backdrop-filter: blur(4px);
    border-radius: 0px 6px 6px 0px;
}

.mist-object-caption-title{
    @include text-properties ('Roboto',700,13px,16px,white);
    margin: 5px;
}

.mist-object-caption-description{
    @include text-properties ('Roboto',400,14px,16px,#F4F4F4);
    margin: 5px;
}