/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */

.sipnosis-title{
    width: 100%;
    height: 28px;
    @include text-properties ('Roboto Slab',700,22px,28px);
}

.sipnosis-description{
    @include text-properties ('Roboto',400,16px,20px,0.25px);
}

.expand-section{
    display: flex;
    gap: 16px;
    justify-content: center;

    width: 100%;
    height: 24px;

    margin-bottom: 10px;
}

#extra-sipnosis-description {
    display: none;
}

#read-more-icon{
    color: #0C75AF;
}

.read-all-label{
    width: 100px;
    @include text-properties ('Roboto',400,18px,24px,#0C75AF,0.25px);
}

.line{
    border: 0.5px solid #0C75AF;
}

.sipnosis-container{
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin: 16px;
    padding: 8px;

    background-color: white;
    box-shadow: 0px 0px 8px #B8E1FF;
    border-radius: 6px;
}