.see-all-btn{
    width: 49px;
    height: 20px;

    @include text-properties ('Roboto',400,16px,20px,#0C75AF,0.25px);
}

#more {
    display: none;
}

#read-more-icon{
    color: #0C75AF;
    width: 24px;
    height: 24px;
}

.read-all-label{
    width: 85px;
    height: 24px;

    @include text-properties ('Roboto',400,18px,24px,#0C75AF,0.25px);
}

.sipnosis-title{
    width: 95%;
    height: 28px;

    @include text-properties ('Roboto Slab',700,22px,28px);
}

.sipnosis-description{
    width: 95%;

    @include text-properties ('Roboto',400,16px,20px,0.25px);
}

.line{
    width: 90%;
    border: 0.5px solid #0C75AF;
}

.sipnosis-section{
    @include flex-column-centered (16px);
    padding-top: 8px;
    background-color: white;
    box-shadow: 0px 0px 8px #B8E1FF;
    border-radius: 6px;
}

.expand-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;

    width: 125px;
    height: 24px;

    margin-bottom: 10px;
}