/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
@import '../components/searchbar';
@import '../sections/sipnosis';

.content{
    @include flex-column-centered (50px);
    padding: 0 4% 0 4%;
    box-sizing: border-box;
}

.crew-image-container{
    position: relative;
    display: flex;
    height: 260px;
    width: 100%;
}

.crew-filter{
    position: absolute;
    width: 100%;
    height: 163px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 91%);
    bottom: -1px;
}

.crew-image{
    width: 100%;
}

.logo-header{
    position: absolute;
    top: 300px;
    z-index: 15;
    width: 163px;
    height: 58px;
    display: none;
}

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 16px 0;
    box-sizing: border-box;
}

.section-title{
    @include text-properties ('Roboto Slab',700,18px,24px,#171717,0.1px);
}

.see-all-btn{
    @include text-properties ('Roboto',400,16px,20px,#0C75AF,0.25px);
}

#flex-scroll {
    display: flex;
    overflow: auto;
    
    gap: 15px;
    margin-left: 16px;
}

.block{
    display: none;
}

.bottom{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

@media only screen and (min-width: 768px) {
    /* For tablet: */
    .image-header{
        height: 444px;
        position: absolute;
        z-index: -2;
    }

    .crew-filter{
        display: none;
    }

    .margin-container{
        width: 90%;
    }

    .block{
        display: inline-block;
        height: 337px;
    }

    #flex-scroll {
        margin: 0;
        gap: 20px;
    }
}