/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */

.content{
    @include flex-column-centered (50px);
}

.content-section{
    @include flex-column-centered (50px);
}

.image-header{
    position: relative;
    display: flex;
    width: 100%;
    height: 260px;
}

.crew-filter{
    position: absolute;
    width: 100%;
    height: 163px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 91%);
    z-index: 10;
    bottom: -1px;
}

.crew-image{
    position: absolute;
    object-position: center;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.margin-container{
    width: 90%;
}

.sipnosis-section{
    @include flex-column-centered (16px);

    padding-top: 8px;
    
    
    box-shadow: 0px 0px 8px #B8E1FF;
    border-radius: 6px;
}

.sipnosis-title{
    width: 95%;
    height: 28px;

    @include text-properties ('Roboto Slab',700,22px,28px);
}

.sipnosis-description{
    width: 95%;

    @include text-properties ('Roboto',400,16px,20px,0.25px);
}

.line{
    width: 90%;
    border: 0.5px solid #0C75AF;
}

.expand-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;

    width: 125px;
    height: 24px;

    margin-bottom: 10px;
}

.read-all-label{
    width: 85px;
    height: 24px;

    @include text-properties ('Roboto',400,18px,24px,#0C75AF,0.25px);
}

#read-more-icon{
    color: #0C75AF;
    width: 24px;
    height: 24px;
}

#more {
    display: none;
}

.logo-header{
    position: absolute;
    top: 300px;
    z-index: 15;
    width: 163px;
    height: 58px;
    display: none;
}

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title{
    height: 24px;
    @include text-properties ('Roboto Slab',700,18px,24px,#171717,0.1px);
}

.see-all-btn{
    width: 49px;
    height: 20px;

    @include text-properties ('Roboto',400,16px,20px,#0C75AF,0.25px);
}

#flex-scroll { 
    display: flex;
    gap: 15px;
    margin: 0 5% 0 5%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.searchbar-container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 16px 0px 16px 8px;

    width: 100%;
    height: 56px;

    border: 1px solid #B5B5B5;
    border-radius: 6px;
}

.searchbar{
    border: none;

    width: 90%;
    height: 20px;

    justify-self: center;

    @include text-properties ('Roboto',400,16px,20px,#7D7D7D,0.25px);
}

#search-icon{
    color: #7D7D7D;
    font-size: 30px;
    width: 10%;
}