/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
@import '../components/searchbar';
@import '../sections/sipnosis';

.content{
    @include flex-column-centered (50px);
    padding: 0 4% 0 4%;
    box-sizing: border-box;
}

.image-header{
    position: relative;
    display: flex;
    width: 108.6%;
    left: -4.3%;
    height: 260px;
}

.crew-filter{
    position: absolute;
    width: 100%;
    height: 163px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 91%);
    z-index: 10;
    bottom: -1px;
}

.crew-image{
    position: absolute;
    object-position: center;
    @include fit-parent;
}

.logo-header{
    position: absolute;
    top: 300px;
    z-index: 15;
    width: 163px;
    height: 58px;
    display: none;
}

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include fit-parent;
}

.section-title{
    height: 24px;
    @include text-properties ('Roboto Slab',700,18px,24px,#171717,0.1px);
}

#flex-scroll { 
    @include items-container (100%);
    gap: 15px;
}

.block{
    display: none;
}


@media only screen and (min-width: 768px) {
    /* For tablet: */
    .content{
        padding: 0 8% 0 8%;
    }

    .image-header{
        height: 444px;
        left: -10%;
        width: 119.5%;
        overflow: hidden;
    }

    .crew-filter{
        display: none;
    }

    #flex-scroll {
        gap: 20px;
    }

    #main-column{
        position: relative;
        top: -57px;
    }
}