/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */

 @use 'content';

// sections
.characters-section{
    @extend %section-properties;
    height: 287px;
}

// containers
.characters-container{
    display: flex;
    overflow: auto;

    width: 359px;
    height: 231px;
}


// item
.characters-item {
    display: flex;
    position: relative;

    width: 182px;
    height: 231px;
}

.text-item{
    @extend %character-card-text-properties;
    position: absolute;
    text-align: center;
    width: 181px;
    height: 32px;
    top: 175px;

    letter-spacing: -0.02em;
    z-index: 14;
}

.filter-item{
    position: absolute;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #000000 97%);
    mix-blend-mode: multiply;
    border-radius: 19px;
    z-index: 10;
}





