%character-card-text-properties{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFF;
}

%section-properties{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 32px;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

// first part

.first-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.image-header{
    position: relative;
    display: flex;
    width: 100%;
    height: 260px;
}

.crew-filter{
    position: absolute;
    width: 100%;
    height: 163px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 91%);
    z-index: 10;
    bottom: -1px;
}

.crew-image{
    position: absolute;
    object-position:center;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.second-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.margin-container{
    width: 90%;
}

// SINOPSIS SECTION ==============================

.sipnosis-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 8px;
    gap: 16px;
    
    width: 100%;
    
    box-shadow: 0px 0px 8px #B8E1FF;
    border-radius: 6px;
}

.sipnosis-title{
    width: 95%;
    height: 28px;
        
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.sipnosis-description{
    width: 95%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.25px;
}

.line{
    width: 90%;
    border: 0.5px solid #0C75AF;
}

.expand-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;

    width: 125px;
    height: 24px;

    margin-bottom: 10px;
}

.read-all-label{
    width: 85px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    letter-spacing: 0.15px;

    color: #0C75AF;
}

#read-more-icon{
    color: #0C75AF;
    width: 24px;
    height: 24px;
}

#more {
    display: none;
}

.logo-header{
    position: absolute;
    top: 300px;
    z-index: 15;
    width: 163px;
    height: 58px;
    display: none;
}


.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title{
    height: 24px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    letter-spacing: 0.1px;

    color: #171717;
}

.see-all-btn{
    width: 49px;
    height: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.25px;

    color: #0C75AF;
}

#flex-scroll { 
    display: flex;
    gap: 15px;
    margin: 0 5% 0 5%; 
}

.searchbar-container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 16px 0px 16px 8px;

    width: 100%;
    height: 56px;

    border: 1px solid #B5B5B5;
    border-radius: 6px;
}

.searchbar{
    border: none;

    width: 90%;
    height: 20px;

    justify-self: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.25px;

    color: #7D7D7D;

}

#search-icon{
    color: #7D7D7D;
    font-size: 30px;
    width: 10%;
}