/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
@use 'content';

.custom-footer{
   @include flex-column-centered (38px);
   justify-content: center;
   
   margin-top: 80px;
   height: 271px;
   background: #0C75AF;
}

.footer-image{
   width: 97px;
   height: 89px;
}

.footer-text{
   width: 286px;
   height: 48px;

   @include text-properties ('Roboto',400,14px,16px,white,0.4px);

   text-align: center;
}