.header{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.image-header{
    position: relative;
    display: flex;
    width: 100%;
    height: 260px;
}

.crew-filter{
    position: absolute;
    width: 390px;
    height: 163px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 91%);
    z-index: 10;
    bottom: 0px;
}

.crew-image{
    position: absolute;
    object-position:center;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

// SINOPSIS SECTION ==============================

.sipnosis-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 8px;
    gap: 16px;
    
    width: 358px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 8px #B8E1FF;
    border-radius: 6px;
}

.sipnosis-title{
    align-self: stretch;

    width: 342px;
    height: 28px;
        
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.sipnosis-description{
    align-self: stretch;
    width: 342px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.25px;
}

.line{
    width: 342px;

    border: 0.5px solid #0C75AF;

    align-self: stretch;
}

.expand-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;

    width: 125px;
    height: 24px;
}

.read-all-label{
    width: 85px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    letter-spacing: 0.15px;

    color: #0C75AF;
}

#read-more-icon{
    color: #0C75AF;
    width: 24px;
    height: 24px;
}

#more {
    display: none;
}

.logo-header{
    position: relative;
    top: -50px;
    z-index: 15;
    width: 163px;
    height: 58px;
    display: none;
}

.searchbar-container{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 0px 16px 8px;
    gap: 23px;

    width: 358px;
    height: 56px;

    border: 1px solid #B5B5B5;
    border-radius: 6px;

    margin-top: 50px;
}

.searchbar{
    border: none;

    width: 275px;
    height: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.25px;

    color: #7D7D7D;

}

#search-icon{
    color: #7D7D7D;
    font-size: 30px;
}