.header{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.image-header{
    position: relative;
    display: flex;
    width: 100%;
    height: 640px;
}

.crew-filter{
    position: absolute;
    width: 100%;
    height: 320px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 91.54%);
    z-index: 10;
    bottom: -2px;
}

.crew-image{
    position: absolute;
    object-position: left bottom;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.sipnosis-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    
    margin: 30px;
    padding: 30px 20px 0px 20px;
    gap: 16px;

    box-shadow: 0px 0px 8px #B8E1FF;
    border-radius: 6px;
}

.sipnosis-title{
    align-self: stretch;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 28px;
    padding: 0px 0px 10px 0px;
}

p{
    align-self: stretch;
    font-family: 'Roboto';
    font-style: normal;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    
    letter-spacing: 0.25px;
}

.line{
    width: 100%;
    margin: 20px 0px 20px 0px ;
    border: 0.5px solid #0C75AF;
}

.expand-section{
    display: flex;
    align-items: center;
    gap: 30px;
}
.read-all-label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #0C75AF;
}
.material-icons.md-90 { 
    font-size: 90px; 
    color: #0C75AF;
}

#more {
    display: none;
}

.logo-header{
    position: relative;
    top: -50px;
    z-index: 15;
    width: 430px;
    height: 146px;
    display: none;
}

.searchbar{
    width: 895px;
    height: 140px;
    border: 1px solid #B5B5B5;
    border-radius: 6px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;

    padding: 16px 0px 16px 8px;
}