@use 'content';

.mist-object-section{
    @extend %section-properties;
    height: 484px;
}

.mist-object-container{
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    height: 428px;
    gap: 16px;
    overflow: hidden;
}

.mist-object-item{
    display: flex;

    width: 358px;
    height: 132px;
    position: relative;
    overflow: auto;
}

.mist-object-img{
    width: 174.49px;
    height: 132px;
}

.material-icons.location-icon { 
    color: rgba(255, 255, 255, 1);
    font-size: small;
}

.mist-object-text{
    position: absolute;
    display: flex;
    flex-direction: column;

    left: 117.33px;

    width: 240.67px;
    height: 132px;

    background: rgba(0, 96, 150, 0.59);
    backdrop-filter: blur(4px);
    border-radius: 0px 6px 6px 0px;
}

.mist-object-caption-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;

    color: #FFFFFF;

    margin: 5px;
}

.mist-object-caption-description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #F4F4F4;

    margin: 5px;
}