/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */

%navbar-icon-size{
    width: 18px;
    height: 16px;
}

.navbar{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 390px;
    height: 78px;
}

.third-item{
    @extend %navbar-icon-size;
}

.firts-item{
    @extend %navbar-icon-size;
}

.logo{
    width: 112px;
    height: 40px;
}

.menu-icon{
    @extend %navbar-icon-size;
}

.menu-button{
    height: 100%;
    width: 100%;
    object-fit: cover;
}