/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */

%navbar-icon-size{
    width: 15%;
    height: 16px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 78px;
}

.menu-button{
    @extend %navbar-icon-size;
}

.navbar-logo{
    width: 112px;
    height: 40px;
}

.third-item{
    @extend %navbar-icon-size;
}