/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
.menu, .third-item {
  width: 45px;
  height: 40px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.logo {
  width: 281.025px;
  height: 100px;
}

/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
.text-item {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #FFF;
}

.grid-container {
  display: flex;
  gap: 20px;
}

.grid-item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 219.74px;
  height: 279px;
}

.text-item {
  position: absolute;
  top: 211.36px;
  z-index: 15;
}

.filter-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: linear-gradient(179.8deg, rgba(255, 255, 255, 0) 50.33%, #000000 97.62%);
  mix-blend-mode: multiply;
  border-radius: 19.7522px;
  z-index: 10;
}

.image-item {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-header {
  position: relative;
  display: flex;
  width: 100%;
  height: 640px;
}

.crew-filter {
  position: absolute;
  width: 100%;
  height: 320px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 91.54%);
  z-index: 10;
  bottom: -2px;
}

.crew-image {
  position: absolute;
  object-position: left bottom;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sipnosis-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 30px 20px 0px 20px;
  gap: 16px;
  box-shadow: 0px 0px 8px #B8E1FF;
  border-radius: 6px;
}

.sipnosis-title {
  align-self: stretch;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 28px;
  padding: 0px 0px 10px 0px;
}

p {
  align-self: stretch;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  letter-spacing: 0.25px;
}

.line {
  width: 100%;
  margin: 20px 0px 20px 0px;
  border: 0.5px solid #0C75AF;
}

.expand-section {
  display: flex;
  align-items: center;
  gap: 30px;
}

.read-all-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #0C75AF;
}

.material-icons.md-90 {
  font-size: 90px;
  color: #0C75AF;
}

#more {
  display: none;
}

.logo-header {
  position: relative;
  top: -50px;
  z-index: 15;
  width: 430px;
  height: 146px;
  display: none;
}

button {
  background-color: transparent;
  border: none;
}