/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
.menu-icon, .firts-item, .third-item {
  width: 18px;
  height: 16px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 390px;
  height: 78px;
}

.logo {
  width: 112px;
  height: 40px;
}

.menu-button {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
.text-item {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #FFF;
}

.grid-container {
  display: flex;
  gap: 20px;
}

.grid-item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 219px;
  height: 279px;
}

.text-item {
  position: absolute;
  top: 211px;
  z-index: 15;
}

.filter-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #000000 97%);
  mix-blend-mode: multiply;
  border-radius: 19px;
  z-index: 10;
}

.image-item {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-header {
  position: relative;
  display: flex;
  width: 100%;
  height: 260px;
}

.crew-filter {
  position: absolute;
  width: 390px;
  height: 163px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 91%);
  z-index: 10;
  bottom: 0px;
}

.crew-image {
  position: absolute;
  object-position: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sipnosis-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 16px;
  width: 358px;
  height: 256px;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px #B8E1FF;
  border-radius: 6px;
}

.sipnosis-title {
  align-self: stretch;
  width: 342px;
  height: 28px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  padding: 0px 0px 10px 0px;
}

p {
  align-self: stretch;
  width: 342px;
  height: 140px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #000000;
}

.line {
  Width: 342px;
  height: 0px;
  border: 0.5px solid #0C75AF;
  align-self: stretch;
}

.expand-section {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 107px;
  height: 24px;
}

.read-all-label {
  width: 67px;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #0C75AF;
}

#read-more-icon {
  color: #0C75AF;
}

#more {
  display: none;
}

.logo-header {
  position: relative;
  top: -50px;
  z-index: 15;
  width: 430px;
  height: 146px;
  display: none;
  transition: all 2s linear;
}

.searchbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 895px;
  height: 120px;
  padding: 10px;
  margin: 90px 0px 90px 0px;
  border: 1px solid #B5B5B5;
  border-radius: 6px;
}

.searchbar {
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 20px;
  width: 80%;
}

#search-icon {
  color: #7D7D7D;
}

button {
  background-color: transparent;
  border: none;
}

body {
  width: 390px;
  margin: auto;
}