@use 'navbar';
@use 'characters';
@use 'header';


button{
    background-color: transparent;
    border:none;
}

body{
    width: 390px;
    margin: auto;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}