@use 'navbar';
@use 'header';
@use 'characters';
@use 'islands';
@use 'mist-objects';
@use 'footer';


button{
    background-color: transparent;
    border:none;
}

body{
    width: 390px;
    margin: auto;
}