/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
.navbar-item {
  width: 15%;
  height: 16px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 78px;
}

.navbar-logo {
  width: 112px;
  height: 40px;
}

@media only screen and (min-width: 768px) {
  /* For tablet: */
  .navbar {
    height: 109px;
  }
  .navbar-logo {
    width: 163px;
    height: 58px;
  }
}
/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
.searchbar-container {
  display: flex;
  height: 56px;
  margin: 16px 16px 0;
  box-sizing: border-box;
  align-items: center;
  padding: 16px 0px 16px 8px;
  border: 1px solid #B5B5B5;
  border-radius: 6px;
}

.searchbar {
  border: none;
  width: 90%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #7D7D7D;
  letter-spacing: 0.25px;
}

#search-icon {
  color: #7D7D7D;
  font-size: 30px;
  width: 10%;
}

@media only screen and (min-width: 768px) {
  /* For tablet: */
  .searchbar-container {
    margin: 0px;
  }
}
/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
.sipnosis-title {
  width: 100%;
  height: 28px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: default;
  letter-spacing: default;
}

.sipnosis-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: 0.25px;
  letter-spacing: default;
}

.expand-section {
  display: flex;
  gap: 16px;
  justify-content: center;
  width: 100%;
  height: 24px;
  margin-bottom: 10px;
}

#extra-sipnosis-description {
  display: none;
}

#read-more-icon {
  color: #0C75AF;
}

.read-all-label {
  width: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #0C75AF;
  letter-spacing: 0.25px;
}

.line {
  border: 0.5px solid #0C75AF;
}

.sipnosis-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px;
  padding: 8px;
  background-color: white;
  box-shadow: 0px 0px 8px #B8E1FF;
  border-radius: 6px;
}

@media only screen and (min-width: 768px) {
  /* For tablet: */
  .sipnosis-container {
    position: relative;
    margin: 0 64px 0;
    top: -57px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 50px;
  padding: 0 4% 0 4%;
  box-sizing: border-box;
}

.crew-image-container {
  position: relative;
  display: flex;
  height: 260px;
  width: 100%;
}

.crew-filter {
  position: absolute;
  width: 100%;
  height: 163px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 91%);
  bottom: -1px;
}

.crew-image {
  width: 100%;
}

.logo-header {
  position: absolute;
  top: 300px;
  z-index: 15;
  width: 163px;
  height: 58px;
  display: none;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px 0;
  box-sizing: border-box;
}

.section-title {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #171717;
  letter-spacing: 0.1px;
}

.see-all-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0C75AF;
  letter-spacing: 0.25px;
}

#flex-scroll {
  display: flex;
  overflow: auto;
  gap: 15px;
  margin-left: 16px;
}

.block {
  display: none;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media only screen and (min-width: 768px) {
  /* For tablet: */
  .crew-image-container {
    height: 444px;
  }
  .crew-filter {
    display: none;
  }
  #flex-scroll {
    margin-left: 0px;
    justify-content: space-between;
    width: 100%;
  }
  .section-header {
    padding: 0px;
  }
  .bottom {
    margin: 0 64px 0;
  }
}
/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
.custom-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 38px;
  justify-content: center;
  height: 271px;
  background: #0C75AF;
  margin-top: 70px;
}

.footer-image {
  width: 97px;
  height: 89px;
}

.footer-text {
  width: 286px;
  height: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
  letter-spacing: 0.4px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  /* For tablet: */
  .custom-footer {
    flex-direction: row;
    gap: 38px;
  }
}
/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
.characters-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}

.characters-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 231px;
}

.characters-item {
  display: flex;
  position: relative;
  width: 182px;
  height: 231px;
}

.text-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: white;
  letter-spacing: -0.02em;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 175px;
}

.filter-item {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #000000 97%);
  mix-blend-mode: multiply;
  border-radius: 19px;
}

@media only screen and (min-width: 768px) {
  /* For tablet: */
  .characters-item {
    width: 145px;
    height: 184px;
  }
  .characters-container {
    height: 184px;
  }
}
/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
.islands-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}

.islands-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 193px;
}

.island-item {
  display: flex;
  position: relative;
  justify-content: center;
  width: 194px;
  height: 193px;
}

.island-caption-container {
  position: absolute;
  width: 178px;
  height: 48px;
  top: 137px;
  background: rgba(0, 96, 150, 0.59);
  backdrop-filter: blur(4px);
  border-radius: 6px;
}

.island-caption-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: white;
  letter-spacing: default;
}

.island-caption-location {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #F4F4F4;
  letter-spacing: 0.4px;
}

.island-text {
  position: absolute;
  align-self: center;
  top: 5px;
  left: 13px;
}

.material-icons.location-icon {
  color: rgb(255, 255, 255);
  font-size: small;
}

@media only screen and (min-width: 768px) {
  /* For tablet: */
  .text-item {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: white;
    letter-spacing: 0.01px;
    top: 140px;
  }
  .island-item {
    width: 200px;
    height: 200px;
  }
  .islands-container {
    height: 200px;
  }
}
/**
 * All Rights Reserved
 * This software is property information of AKUREY S.A.
 * Contact us at contact@akurey.com
 * @summary short description for the file
 */
.mist-object-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}

.mist-object-container {
  display: flex;
  overflow: auto;
  width: 100%;
  height: 428px;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0 16px 0;
  box-sizing: border-box;
}

.mist-object-item {
  display: flex;
  position: relative;
  width: 358px;
  height: 132px;
  overflow: auto;
}

.mist-object-img {
  width: 175px;
  height: 132px;
  border-radius: 8px;
}

.mist-object-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 117px;
  width: 241px;
  height: 132px;
  background: rgba(0, 96, 150, 0.59);
  backdrop-filter: blur(4px);
  border-radius: 0px 6px 6px 0px;
}

.mist-object-caption-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: white;
  letter-spacing: default;
  margin: 5px;
}

.mist-object-caption-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #F4F4F4;
  letter-spacing: default;
  margin: 5px;
}

@media only screen and (min-width: 768px) {
  /* For tablet: */
  .mist-object-container {
    padding: 0;
    height: 370px;
  }
  .mist-object-item {
    width: 310px;
    height: 175px;
  }
  .mist-object-img {
    width: 181px;
    height: 175px;
    object-fit: cover;
  }
  .mist-object-text {
    left: 110px;
    width: 200px;
    height: 175px;
  }
}
button {
  background-color: transparent;
  border: none;
}

body {
  width: 100%;
  margin: auto;
}